.Contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.Contact h1 {
    width: 100%;
    margin: auto;
    font-size: 2rem;
}

.Contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: red;
    width: 60%;
    margin: auto;
}