.navbar {
    width: 100%;
    display: flex;
}

.navbar ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 12px;
}

.navbar ul li {
    padding: 4px 6px;
    font-weight: 600;
    font-size: 1.8rem;
}

.navbar ul li a{
    color: #121212;
    text-decoration: none;
}